#titulo {
  color: rgb(40, 110, 201);
  font-family: monospace;  
  font-size: 25px;
}
#tabela-precos {
    margin-left: 150px;
    
}

body {
    background-color: rgb(37, 35, 35);
    color: white;
}

table {
    border: 1px solid rgb(185, 178, 178);
    border-radius: 5%;
}

th, td {
    border: 1px solid rgb(185, 178, 178);
    border-radius: 25%;
}

th, td {
    padding: 10px;
}